$mainColor: #002c6a;
$secColor: #4153f1;
$secColorHover: #5863cc;
$thirdColor: #ebeefc;

@mixin linearTransition {
    transition: all 200ms linear;
}

@mixin linearTransition2 {
    transition: all 500ms linear;
}

@keyframes img-animation {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Nunito", serif;
}

.scroll-btn {
    width: 40px;
    height: 40px;
    
}

.txt-main-clr {
    color: $mainColor !important;
}

.txt-sec-clr {
    color: $secColor !important;
}

.sec-txt-clr {
    color: rgba(0, 0, 0, 0.5);
}

.nav-item-active {
    color: $secColor !important;
}

.bg-sec-clr {
    background-color: $secColor;
}

.nav-btn {
    @include linearTransition();
    
    &:hover {
        background-color: $secColorHover;
    }
}

.navbar-toggler:focus {
    box-shadow: 0 0 5px $secColor;
}

.nav-cont {
    @include linearTransition();
    background-color: #fff;
    box-shadow: 0 0 5px #333;
    
    @media (min-width: 992px) {
        background-color: transparent;
        box-shadow: none;
    }
}

.loader-cont {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2f32;
    z-index: 100;
    
    .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 600ms linear infinite;
    }
    
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}


main {
    background-image: url(../imgs/hero-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    @media (min-width: 992px) {
        height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .img-cont-cont {
        .img-cont {
            img {
                //margin-bottom: -40px;
                animation: img-animation 2500ms linear infinite;
                
                @media (min-width: 576px) and (max-width: 992px) {
                    width: 75% !important;
                }
            }
            
            transform: scale(1.5);
            opacity: 0;
            @include linearTransition2();
        }
        
        .active {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    .main-content-cont {
        .main-content {
            @include linearTransition2();
            position: relative;
            top: 50px;
            opacity: 0;
        }
        
        .active {
            opacity: 1;
            top: 0;
        }
    }
    
    
    .carousel-item {
        @include linearTransition2();
    }
    
    .modal-content {
        > button {
            top: 20px;
            right: 20px;
        }
        
        .modal-main-content {
            background-color: #141414 !important;
        }
    }
    
    .main-header {
        @media (min-width: 992px) {
            font-size: 48px !important;
        }
    }
}

.main-btn {
    @include linearTransition();
    
    i {
        @include linearTransition();
    }
    
    &:hover {
        background-color: $secColorHover;
        
        i {
            left: 10px !important;
        }
    }
}

.sec1 {
    .content-cont {
        .content {
            background-color: #f6f6fe;
            position: relative;
            left: -100px;
            opacity: 0;
            @include linearTransition2();
        }
        
        .active {
            left: 0;
            opacity: 1;
        }
    }
    
    .img-cont-cont {
        .img-cont {
            transform: scale(0.75);
            opacity: 0;
            @include linearTransition2();
        }
        
        .active {
            transform: scale(1);
            opacity: 1;
        }
    }
    
}

.head-content {
    h4 {
        background-color: $thirdColor;
        border-radius: 25px;
    }
}

.sec2 {
    .col-content {
        .img-cont {
            @include linearTransition2();
            
            &:hover {
                transform: scale(0.9);
            }
        }
    }
}

.fs-icon {
    font-size: 42px;
}

.sec4 {
    .sub-item {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        
        i {
            @include linearTransition();
        }
        
        &:hover {
            i {
                background-color: $secColor !important;
                color: $thirdColor !important;
            }
        }
    }
    
    i {
        background-color: $thirdColor;
    }
}

.sec6 {
    $colors: (
                    (1, #22c2e3, #e6f9fd),
                    (2, #e78534, #fff3e7),
                    (3, #35c093, #e8f9f3),
                    (4, #be2431, #fce7e4),
                    (5, #5f1bc9, #efe7fe),
                    (6, #db398a, #fee9f2),
    );
    
    @each $index, $color, $colorBg in $colors {
        .row > div:nth-of-type(#{$index}) {
            .content {
                border-bottom: 5px solid $color;
                @include linearTransition();
                
                &:hover {
                    background: $color;
                    color: $colorBg !important;
                    
                    a > div:nth-of-type(2) h5,
                    a > div:nth-of-type(2) p {
                        color: $colorBg !important;
                    }
                }
                
                a {
                    > div:nth-of-type(1) {
                        background: $colorBg;
                        width: 80px;
                        height: 80px;
                        
                        i {
                            color: $color;
                        }
                    }
                    
                    > div:nth-of-type(2) {
                        p:nth-of-type(2) {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
}


.sec7 {
    .row {
        $colors: (
                        (1, #2ebf93),
                        (2, #0dc8f6),
                        (3, #ef842c),
                        (4, #0d6bfd),
        );
        
        @each $index, $color in $colors {
            .col-md-6.col-lg-3:nth-of-type(#{$index}) .content {
                h5, i {
                    color: $color;
                }
            }
        }
        
        .content {
            i {
                font-size: 55px;
            }
            
            @include linearTransition();
            
            &:hover {
                transform: scale(1.05);
            }
            
            .price-cont {
                width: fit-content;
                
                .price {
                    font-size: 40px;
                }
                
                .dollar {
                    top: -10px;
                    left: -15px;
                }
            }
            
            > a {
                width: fit-content;
                border: 2px solid $secColor;
                border-radius: 30px;
                @include linearTransition();
                
                &:hover {
                    color: #fff !important;
                    background: $secColor;
                }
                
            }
        }
    }
}

.sec8 {
    .accordion-button {
        background: transparent !important;
        
        &:focus {
            box-shadow: none !important;
        }
    }
}


.sec9 {
    .content {
        ul {
            //li:nth-of-type(1) a {
            //    color: $secColor !important;
            //    border-bottom: 2px solid $secColor !important;
            //}
            //
            li {
                a {
                    @include linearTransition();
                    cursor: pointer;
                    
                    &:hover, &:focus, &:focus-visible {
                        color: $secColor !important;
                        border-bottom: 2px solid $secColor !important;
                        outline: none;
                    }
                }
            }
        }
        
        .container {
            .cate-cont {
                @keyframes img-hide {
                    0% {
                        transform: scale(1);
                        opacity: 1;
                    }
                    99.9% {
                        transform: scale(0);
                        opacity: 0;
                    }
                    100% {
                        transform: scale(0);
                        opacity: 0;
                        display: none;
                    }
                }
                
                @keyframes img-show {
                    0% {
                        display: block;
                        transform: scale(0);
                        opacity: 0;
                    }
                    0.1% {
                        transform: scale(0);
                        opacity: 0;
                    }
                    100% {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
                
                .img-cont-active {
                    animation: img-show 300ms ease-in-out forwards;
                }
                
                .img-cont-inactive {
                    animation: img-hide 300ms ease-in-out forwards;
                }
            }
        }
    }
}

